body {
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  color: #8cbaff;
  text-decoration: underline;
}

#header-section {
  background-image: url("../images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#principal-section-1 .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#principal-section-2 .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contact-section form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #contact-section form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
